global
    daemon
    maxconn 4096
    log stdout format raw local0

defaults
    mode http
    timeout connect 2s
    timeout client  10s
    timeout server  10s
    option http-keep-alive
    option forwardfor
    option httplog
    log global

frontend fe_rinha
    bind *:9999
    default_backend be_api

backend be_api
    balance roundrobin
    option httpchk
    http-check send meth GET uri /ready
    http-check expect status 200
    server api-1 api-1:8080 check inter 1s fall 2 rise 1
    server api-2 api-2:8080 check inter 1s fall 2 rise 1
